<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-4">
      <div class="row">
        <div class="col">
          <button mat-stroked-button class="w-100 app-button text-left">Organisation unit</button>
        </div>
        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Form</mat-label>
            <mat-select [value]="currentFormId$ | async" (selectionChange)="onSetCurrentForm($event)">
              <mat-option *ngFor="let form of forms$ | async" [value]="form.id">
                {{form.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col"></div>
      </div>

      <!-- record list -->
      <div class="record-notification" style="margin-top: 50px;" *ngIf="(currentFormId$ | async) === ''">
        <app-message-notification [message]="'Select form to view records'"></app-message-notification>
      </div>
      <app-record-list [fieldIds]="fieldIds$ | async" [fieldEntities]="fieldEntities$ | async"
        *ngIf="(currentFormId$ | async) !== ''" (selectItem)="onSelectRecord($event)"></app-record-list>
      <!-- end of record list -->
    </div>
  </div>
</div>
