<div class="container-fluid">
  <div class="row ">
    <div class="col-12 mt-4">
      <div class="row">
        <div class="col">
          <button mat-stroked-button class="w-100 app-button text-left">Organisation unit</button>
        </div>
        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Form</mat-label>
            <mat-select>
              <mat-option *ngFor="let recordType of recordTypes" [value]="recordType.id">
                {{recordType.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Record Type</mat-label>
            <mat-select>
              <mat-option *ngFor="let recordType of recordTypes" [value]="recordType.id">
                {{recordType.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!-- record list -->

      <app-table (selectItem)="onSelectRecord($event)"></app-table>
      <!-- end of record list -->
    </div>
  </div>
</div>
