<div class="card">
  <label class="text-muted text-center font-larger">{{ formname }}</label>
    <table class="table table-bordered table-striped mb-0">
      <tbody>
        <tr>
          <td class="width-20px">1</td>
          <td class="w-50">First Name</td>
          <td>
            <input type="text" class="form-control form-control-sm">
          </td>
        </tr>
        <tr>
          <td class="width-20px">2</td>
          <td class="w-50">Middle Name</td>
          <td>
            <input type="text" class="form-control form-control-sm">
          </td>
        </tr>
        <tr>
          <td class="width-20px">3</td>
          <td class="w-50">Surname</td>
          <td>
            <input type="text" class="form-control form-control-sm">
          </td>
        </tr>
        <tr>
          <td class="width-20px">4</td>
          <td class="w-50">Date of Birth</td>
          <td>
            <input type="text" class="form-control form-control-sm">
          </td>
        </tr>
        <tr>
          <td class="width-20px">5</td>
          <td class="w-50">Sex</td>
          <td>
            <select class="form-control form-control-sm">
              <option selected disabled>Select Sex</option>
              <option>Female</option>
              <option>Male</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="width-20px">6</td>
          <td class="w-50">Maritual status</td>
          <td>
            <select class="form-control form-control-sm">
              <option selected disabled>Select Status</option>
              <option>Divorced</option>
              <option>Married</option>
              <option>Separated</option>
              <option>Single</option>
              <option>Widow</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="width-20px">7</td>
          <td class="w-50">Nationality</td>
          <td>
            <select class="form-control form-control-sm">
              <option selected disabled>Select NAtionality</option>
              <option>Tanzania</option>
              <option>Kenya</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="width-20px">8</td>
          <td class="w-50">Religion</td>
          <td>
            <select class="form-control form-control-sm">
              <option selected disabled>Select Religion</option>
              <option>Budha</option>
              <option>Christian</option>
              <option>Islam</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="width-20px">9</td>
          <td class="w-50">Basic Education Level</td>
          <td>
            <select class="form-control form-control-sm">
              <option selected disabled>Select Level</option>
              <option>Advanced Secondary Education</option>
              <option>Ordinary Secondary Education</option>
              <option>Primary Education</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="width-20px">10</td>
          <td class="w-50">Proffesion Education Level</td>
          <td>
            <select class="form-control form-control-sm">
              <option selected disabled>Select Level</option>
              <option>Advanced Diploma</option>
              <option>Bachelor Degree</option>
              <option>Certificate</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="width-20px">11</td>
          <td class="w-50">District of Domicile</td>
          <td>
            <input type="text" class="form-control form-control-sm">
          </td>
        </tr>
        <tr>
          <td class="width-20px">12</td>
          <td class="w-50">Check Number</td>
          <td>
            <input type="number" class="form-control form-control-sm">
          </td>
        </tr>
        <tr>
          <td class="width-20px">13</td>
          <td class="w-50">Employer`s File Number</td>
          <td>
            <input type="number" class="form-control form-control-sm">
          </td>
        </tr>
        <tr>
          <td class="width-20px">15</td>
          <td class="w-50">Registration Number</td>
          <td>
            <input type="number" class="form-control form-control-sm">
          </td>
        </tr>
      </tbody>
    </table>
</div>