<hris-menu></hris-menu>

<div class="container-fluid" style="margin-top: 55px;">
  <div class="row w-100 ml-0 mr-0">
    <div class="col-sm-2">Col-sm-2</div>
    <div class="col-sm-10">
      <label class="text-muted font-x-large"> Data Entry</label>
      <div class="row w-100 ml-1">
        <div class="col-sm-6">
          <!-- Data Selection view -->
          <div class="card green-background-selection">
            <div class="card-body">
              <div class="cretaria-selection-older">
                <label class="label-selection-width mt-2"> Organisation Unit</label>
                <input type="button" class="form-control form-control-sm">
              </div>

              <div class="cretaria-selection-older">
                <label class="label-selection-width mt-2"> Form </label>
                <select class="form-control form-control-sm"
                (change)="formSelect($event)">
                  <option selected disabled>Select Form</option>
                  <option>Employee Form</option>
                  <option>Private Employee Form</option>
                  <option>Public Employee Form</option>
                  <option>Referral Hospital Employee Form</option>
                </select>
              </div>

              <div class="cretaria-selection-older">
                <label class="label-selection-width mt-2"> Period</label>
                <select class="form-control form-control-sm w-50"
                (change)="periodSelect($event)">
                  <option selected disabled>Select Period</option>
                  <option *ngFor="let period of periods">{{ period.name }}</option>
                </select>
                <input  type="button" class="form-control form-control-sm w-25" value="Prev year">
                <input  type="button" class="form-control form-control-sm w-25" value="Next year">
              </div>

            </div>
          </div>
          <!--End of Data Selection view -->

          <div class="mt-4 mb-4" *ngIf="isFormSelected && isPeriodSelected">
              <app-public-employee-form
              [formname]="selectedForm"
              ></app-public-employee-form>
          </div>

          <!-- Form Complete section -->
          <div class="card mt-4 green-background-selection" *ngIf="isFormSelected && isPeriodSelected">
            <div class="card-body">
              <div class="cretaria-selection-older">
                  <input  type="button" class="form-control form-control-sm w-100" value="Save and Add new">
                  <input  type="button" class="form-control form-control-sm w-100" value="Save and Go back">
                  <input  type="button" class="form-control form-control-sm w-100" value="Cancel">
              </div>
            </div>
          </div>
          <!--End of Form Complete section -->
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
